#input {
	background-color: white;
	border: none;
}
#btn1 {
	height: 45px;
}
#toast {
	padding-left: 20px;
}
#border {
	border-left: thin dotted black;
}
.centre {
	text-align: center;
}
.txt {
	text-decoration-color: white !important;
}